<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="ui bottom attached segment pushable" id="container">
  <%= render 'layouts/sidebar' %>
  <div class="pusher">
    <%= yield %>
  </div>
  <div id="modal_image">

  </div>
</div>
<script>
  var local_url = 'http://localhost:3000/';
  var tag_part = 'tags/';
  var image_part = 'images/';

  //  $('#left-menu')
  //      .sidebar({context: $('#container')})
  //      .sidebar('setting', {transition: 'overlay'})
  //      .sidebar('attach events', '.mobile-button');

  $(document).ready(function () {

    $('.ui.search')
        .search({
          apiSettings: {
            url: local_url + 'api/v1/tags?search_name={query}'
          },
          fields: {
            results: 'tags',
            title: 'name',
            url: 'images_html_url'
          }

        })
    ;

  })


</script>
</body>
</html>

